@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#070417;

    --gre-color:#B3BAC3;


    --light-blue:#7EBEE0;

    --shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}   


.light{
    --white-color:white;
    --black-color:#070417;

    --gre-color:#f6f6f6;
    --light-blue:#7EBEE0;

    --shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dark{
    --black-color:white;
    --white-color:#070417;

    --gre-color:#100D1F;
    --light-blue:#7EBEE0;

    --shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.creativePart{
    padding: 150px 10%;
    background-color: var(--gre-color);
    height: 100vh;
}

.myFormNew{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    position: relative;
}

.myFormNew input{
    width: 50%;
    padding: 16px;
    margin: 0; 
}


.myFormNew button{
    width: 10%;
    margin: 0;
}

.filterNew{
    position: absolute;
    right: 0;
    padding: 15px 50px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}

.sort{
    font-size: 15px;
}

.filterNew:hover{
    background-color: #7272be;
    color: white;
    transition: all 0.2s ease;
}


.creativeProfileDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 40px;
}

.creativeEach{
    background-color:white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.creativeEach img{
    width: 40%;
    height: 80px;
    border-radius: 50%;
}

/* .eachDiv  */

.eachDiv h2{
    font-size: 15px;
    font-weight: 500;
    padding-top: 20px;
}

.creativeEach p{
    font-size: 12px;
    color: grey;
    padding-top: 5px;
}