
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#070417;

    --gre-color:#B3BAC3;


    --light-blue:#7EBEE0;

    --light-grey:rgb(242, 242, 242);

    --shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}   


.light{
    --white-color:white;
    --black-color:#070417;

    --gre-color:#f6f6f6;
    --light-blue:#7EBEE0;

    --light-grey:rgb(242, 242, 242);

    --shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dark{
    --black-color:white;
    --white-color:#070417;

    --gre-color:#100D1F;
    --light-blue:#7EBEE0;

    --light-grey:#100D1F;

    --shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* ========================== SectionFourDivs ===================================*/


.SectionFourNew{
    padding: 100px 12%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color:#070417;
    justify-content: center;
}


.talentImage img{
    width: 90%;
}

.talentTextDiv{
    color: white;
    margin-bottom: 10px;
    padding: 50px;
}

.talentTextDiv h2{
    font-size: 15px;
    font-weight: 500;
}

.talentTextDiv h1{
    font-size: 40px;
    line-height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.talentTextDiv h3{
    font-weight: 300;
    font-size: 14px;
}

.talentTextDiv h4{
    padding-top: 20px;
    color: #7272be;
    font-size: 15px;
}

.uil-check-square{
    color: #7272be;
}
.talentTextDiv p{
    padding-top: 10px;
    color: white;
    font-size: 16px;
}

/* .talentTextDiv button{
    background-color:var(--white-color);
    color: var(--black-color);
    padding: 13px 40px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
} */

.talentTextDiv button{
    padding: 13px 40px;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, var(--white-color) 50%, #7272be 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    margin-top: 30px;
}

.talentTextDiv button:hover{
    background-position: left bottom;
    color: var(--black-color);
}

@media only screen and (min-width:321px) and (max-width:768px){
    .SectionFourNew{
        display: grid;
        grid-template-columns: 1fr;
    }

    .talentTextDiv{
        padding: 20px;
    }
}